<h1>{{title}}</h1>
<p>{{question}}</p>
<ul>
    {{#each answers}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<form action="/questions/{{_id}}?_method=delete" method="post">
    <input type="submit" value="delete question" />
</form>