<h1>{{title}}</h1>
<p>{{question}}</p>
<ul>
    {{#each answers}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/questions/{{_id}}/" method="post">
    <input type="text" id="answer" name="answer">
    <input type="submit" value="Answer">

</form>